@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,800')

@font-face
    font-family: 'NEXT-ART-Regular'
    src: url('../fonts/NEXT-ART-Regular.otf')



$font-family: 'Raleway', sans-serif
$font-color: #FFFFFF
$font-size: 20px
$content-width: 1660px

/////////////////////////////////////////




body
    color: $font-color
    font-family: $font-family
    font-size: $font-size
    min-width: 320px
    // overflow-x: hidden
    
a
    color: $font-color
    text-decoration: none

.page-container
    display: flex
    overflow-x: hidden
    min-height: 100vh
    // width: 1920px
    // height: 1080px
    background: linear-gradient(211.21deg, #08071C 0%, #180B29 85.35%)
    position: relative


.aside-menu-container
    display: flex
    flex-direction: column
    width: 100px
    height: 100vh
    background: linear-gradient(180deg, #1C1231 0%, #1D1331 100%)
    z-index: 3
    position: fixed
.aside-menu-top-panel
    display: flex

.aside-menu__button
    cursor: pointer
    margin: 32px 0 0 34px
    width: 30px
    height: 30px
    background: none
    border: none
    outline: none

$button-size : 24px 
$transition: .3s
$color: #fff

.lines-button 
  display: inline-block
  padding: 0
  transition: .3s
  cursor: pointer
  user-select: none
  border-radius: $button-size/7
  &:hover 
    opacity: 1
  &:active 
    transition: 0
    background: rgba(0,0,0,.1)
  



@mixin line 
  display: inline-block
  height: $button-size/12
  background: $color
  border-radius: 2px
  transition: $transition



.lines 
  //middle line
  width: 15px
  margin-left: -8px
  margin-bottom: 2px
  //create middle line
  @include line
  position: relative 
  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after 
    @include line
    position: absolute
    left: 0
    content: ''
    transform-origin: $button-size/14 center
    width: 24px
  &:before  
    top: 9px 
  &:after  
    top: -9px 

// .lines-button:hover 
//   opacity: 1
//   .lines 
//     &:before  
//       top: 10px 
//     &:after  
//       top: -10px 
  
//for crossed lines icon
button:not(.aside-menu__button__closed) .lines
    /*hide the middle line*/
    background: transparent
    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after
      transform-origin: 50% 50%
      top: 0
      width: $button-size
    // rotate the lines to form the x shape
    &:before
      transform: rotate3d(0,0,1,45deg) 
    &:after
      transform: rotate3d(0,0,1,-45deg) 
    

.aside-menu-socials
    display: none
    opacity: 0
    margin-top: 34px
    margin-right: 38px
    margin-left: auto
.aside-menu__social-icon-vk
    width: 30px
    height: 24px
    background: url('../images/socials-vk.png') center no-repeat
    margin-right: 18px
.aside-menu__social-icon-fb
    width: 16px
    height: 24px
    background: url('../images/socials-fb.png') center no-repeat


.aside-menu__nav-menu
    margin-top: 196px
    margin-left: 24px
    display: flex
    width: 100%

.aside-menu__nav-menu-list-item
    width: 80px
    height: 80px
    &:first-child
        margin-top: 0
    &-link
        display: flex
        width: 100%
        height: 100%
    
.aside-menu__nav-menu-list-item-link-icon
    width: 50px
    height: 50px

#menu-icon-gradient 
  opacity: 0.0
  display: inline-block
  -webkit-transition: opacity .4s ease
  -moz-transition: opacity .4s ease
  -o-transition: opacity .4s ease
  transition: opacity .4s ease
#menu-icon-gradient:hover,
.page-link__active #menu-icon-gradient
  opacity: 1.0

.aside-menu-full__nav-menu-list
    width: 263px
    min-width: 263px
    display: none
    opacity: 0
    margin: 0px 143px 0 auto
.aside-menu-full__nav-menu-list-item
    font-family: 'NEXT-ART-Regular', sans-serif
    text-transform: uppercase
.aside-menu-full__nav-menu-list-item-page-link
    opacity: 0.6
.page-link__active
    opacity: 1
    background: #1C1231
    & .aside-menu-full__nav-menu-list-item-number
        position: relative
        &:before
            display: block
            content: ''
            position: absolute
            width: 8px
            height: 54px
            margin-top: -15px
            margin-left: 48px
            background-color: #1C1231
        &:after
            display: block
            content: ''
            position: absolute
            margin-top: -27px
            margin-left: 50px
            width: 2px
            height: 32px
            background-color: #fff

                
.aside-menu-full__nav-menu-list-item-number
    display: inline-block
    width: 54px
    margin: 16px 24px 16px 0

.aside-menu-full__nav-menu-list-divider
    width: 2px
    height: 827px
    background: linear-gradient(180deg, #27F1ED 0%, #4843B3 46%, #8E31AD 100%)
    position: absolute
    margin-left: 180px
    &:after
        display: block
        content: ""
        margin: 0 0 30px 37px
        width: 24px
        height: 12px
        background: url('../images/menu-next-button.png') center no-repeat
        margin-top: 872px
        margin-left: -12px
.aside-menu__bottom-panel
    margin-top: 110px
    display: flex
    position: relative
.aside-menu__next-button
    margin: 0 0 30px 37px
    width: 24px
    height: 12px
    background: url('../images/menu-next-button.png') center no-repeat

.aside-menu__copyright
    display: none
    position: absolute
    margin-left: 40px
    margin-top: 8px
    font-size: 18px
    &-icon
        margin-right: 10px
.aside-menu__light-control
    display: none
    width: 30px
    height: 30px
    background: url('../images/icon-sun.png') center no-repeat    
    margin-left: auto
    margin-top: 6px
    margin-right: 34px
.main-container
    display: flex
    width: 100vw
    margin: 0 auto
    padding-left: 100px
.landing-page-container
    display: flex
    width: 1720px
    padding: 0 30px
    margin: 0 auto
    flex-direction: column
.landing-page-top-panel-container
    display: flex
.logo-container
    display: flex
    align-items: center
    margin-top: 61px
    
    font-size: 31px
.logo__image
    width: 94px
    height: 90px
    background: url('../images/logo.png') center no-repeat
    background-position-x: -10px
.tagline
    width: 268px
    line-height: 38px
    font-size: 20px
    margin: 72px 286px 0 auto
.button-buy-ticket
    width: 297px
    height: 64px
    margin-top: 81px
    background: url('../images/button-buy.png') center no-repeat
    display: flex
    align-items: center
    justify-content: center
    &__text
        letter-spacing: 0.06em
.landing-page-image-and-headers-container
    display: flex
.landing-page-image
    width: 707px
    height: 539px
    margin: 104px 98px 0 0
    background: url('../images/image-landing.png') center no-repeat

.landing-page-headers
    margin: 284px 0 0 0
    width: 860px
.landing-page-header
    text-transform: uppercase
    font-weight: 800
    line-height: 1
    font-size: 115px
    letter-spacing: 0.02em
    width: 860px
    margin-bottom: 6px
.landing-page-second-header
    font-style: normal
    font-weight: normal
    line-height: normal
    width: 860px
    font-size: 33px
    letter-spacing: 5.5px
    background: linear-gradient(-90deg, #27F1ED 0%, #4843B3 46%, #8E31AD 100%)
    -webkit-background-clip: text 
    color: transparent
    background-clip: text
    text-align: right

.landing-page-info-container
    display: flex
.landing-page-basic-info
    display: flex
    margin: 88px 0 0 0
.basic-info__place-info, .basic-info__date-info
    width: 260px
.basic-info__header
    font-weight: 500
    font-size: 24px
    letter-spacing: 0.06em
    &-underline
        margin: 16px 0 20px
        width: 140px
        height: 2px
        background: linear-gradient(-90deg, #8E31AD 0%, #4843B3 46%, #27F1ED 100%)
.basic-info__text
    line-height: 38px
.basic-info__date-info
    margin-left: 93px

.landing-page-city-image
    margin: 46px 0px 0 auto
    width: 100%
    height: 187px
    background: url('../images/city.png') no-repeat
    background-size: contain
    background-position-x: right

//ABOUT US
.about-us-page-container
    display: flex
    width: 1720px
    padding: 0 30px
    margin: 0 auto

.about-us-logo-and-image-container
    display: flex
    flex-direction: column
.about-us-image
    background: url('../images/image-about-us.png') center no-repeat
    width: 639px
    height: 698px
    margin-top: 132px

.about-us-info
    margin-left: 300px
.about-us-info__header
    font-weight: 800
    margin-top: 102px
    font-size: 90px
    letter-spacing: 0.02em
.about-us-info__text
    width: 621px
    line-height: 38px
    font-size: 20px
.about-us-info .button-buy-ticket
    margin: 240px 0 0 auto